@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Bold';
    src: url(assets/fonts/static/Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter ExtraBold';
    src: url(assets/fonts/static/Inter-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.content-container {
    position: relative;
    margin: auto;
    max-width: 1190px;
  padding: 0 30px;
}

.mobile-navigation {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    background-color: white;
    height: 100vh;

}

.hide {
    display: none;
}

.mobile-navigation-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    height: 100vh;
    margin-top: 100px;
}

.intro-animation {
    animation-name: Navbar;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

.outro-animation {
    animation-name: NavbarOut;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes Navbar {
    from {
        transform: translateX(400%);
    }
}

@keyframes NavbarOut {
    to {
        transform: translateX(400%);
    }
}

.mobile-navigation-links li {
    font-family: 'Inter Bold';
    font-size: 1.3em;
    padding: 20px 40px;

}

.close-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close-hamburger {
    margin: 0px 30px;
    margin-top: 40px;
}

.navigation-bar {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation-links li {
    margin-left: 40px;
    font-family: 'Inter';
    cursor: pointer;
}

.news-section {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    grid-template-areas:
        "Trending Sidebar";
    gap: 40px;
}

.Trending-news {
    grid-area: Trending;

}

.Web-3 {
    width: 100%;
}

.web-3-mobile {
    display: none;
}

.news-details {
    margin-top: 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;


}

.news-details-header {
    width: 50%;

}


.news-details-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 50%;

}

.news-details h1 {
    font-family: 'Inter ExtraBold';
    font-size: 60px;

}

.news-details p {
    font-family: 'Inter';
    font-size: 15px;
    margin-left: 45px;
    line-height: 35px;
}

.read-more-btn {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 45px;
    margin-top: 20px;
    background-color: hsl(5, 85%, 63%);
    outline: none;
    font-family: 'Inter ExtraBold';
    padding: 10px 37px;
    border: none;
    transition: all .4s linear;
}

.read-more-btn:hover{
    background-color: hsl(35, 77%, 62%);
}

.side-bar {
    grid-area: Sidebar;
    border: 1px solid;
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding: 25px;
}



.side-bar h1 {
    font-size: 40px;
    font-family: 'Inter Bold';
    color: hsl(35, 77%, 62%);
}



.sub-stories {
    width: 90%;
    margin-top: 40px;
}

.sub-stories div {

    padding-bottom: 20px;
    border-bottom: 1px solid;
    margin-bottom: 40px;
}

.sub-stories div:last-child {
    border: none;
    margin-bottom: 0;
}

.side-bar h2 {
    margin-bottom: 10px;
    font-family: 'Inter';
    font-size: 20px;
}

.sub-stories p {
    font-family: 'Inter';
    color: rgb(186, 184, 184);
}

.footer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1.15fr 1.15fr 1fr;
    grid-template-areas: 'footer1 footer2 footer3';
    justify-items: center;
    gap: 30px;
    margin-bottom: 40px;
    
}

.retro-pc {
    grid-area: footer1;
}

.top-laptops {
    grid-area: footer2;
}

.gaming-growth {
    grid-area: footer3;
}

.retro-pc img,
.top-laptops img,
.gaming-growth img {
    width: 70px;
}

.retro-pc,
.top-laptops,
.gaming-growth {
    gap: 20px;
    display: flex;
}

.retro-pc div,
.top-laptops div,
.gaming-growth div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-laptops div {
    width: 70%;
}

.footer h1 {
    color: hsl(5, 85%, 63%);
    font-family: 'Inter Bold';
}

.footer h4 {
    font-family: 'Inter ExtraBold';
}

.footer p {
    font-family: 'Inter';
}

.hamburger {
    display: none;
}


@media (max-width: 900px) {
    .hamburger {
        display: block;
    }

    .navigation-links {
        display: none;
    }

    .Web-3 {
        display: none;
    }

    .web-3-mobile {
        width: 100%;
        display: block;
    }

    .news-section {
        display: block;
    }

    .news-details {
        display: block;
    }

    .news-details-header {
        width: 100%;
        margin-bottom: 30px;
    }

    .news-details-paragraph {
        width: 100%;
        margin-bottom: 20px;
    }

    .news-details p {
        margin-left: 0;
    }

    .read-more-btn {
        margin-left: 0;
    }

    .side-bar {
        margin-top: 40px;
    }

    .footer {
        display: block;

    }

    .retro-pc,
    .gaming-growth,
    .top-laptops {
        margin-bottom: 30px;
    }
}


@media (min-width: 901px) {
    .mobile-navigation {
        display: none;
    }
}